@charset "utf-8";

/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: 'S-CoreDream-3Light';
	vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration: none;
  color:#000;
}
a,button{
  cursor: pointer;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border:3px solid #e5e5e5;
  border-radius: 5px;
  cursor: pointer;
  height: 16px;
  outline: 0;
  width: 16px;
}
input[type="checkbox"]::after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  content: '';
  display: none;
  height: 40%;
  left: 40%;
  position: relative;
  top: 20%;
  transform: rotate(45deg);
  width: 15%;
}
input[type="checkbox"]:checked {
  background: #76a22d;
}
input[type="checkbox"]:checked::after {
  display: block;
}

/* 레이아웃 */
#layout{
  position:relative;
  display:flex;
  height:100vh;
  overflow: hidden;
  z-index:5000;
}

.el-dialog__wrapper{
  background:rgba(0,0,0,0.5)
}

.el-picker-panel,
.el-select-dropdown{
  z-index:5000 !important
}

.v-modal{
  display:none;
}

/* 컨텐츠 */
.contents{
  position: relative;
  width:85%;
  height:100vh;
  background:#f5f5f5;
}

.contents.active{
  width:70%;
}

/* 지도 API */
#map{
  width:100%;
  height:100vh;
}

/* 데이터 정보 */
.data-menu{
  position:absolute;
  z-index:1000;
  bottom:0;
  left:0;
  width:100%;
  height:200px;
  background:rgba(0,0,0,0.5);
  transition: 0.5s;
}

.data-menu.active{
  height: 0;
  overflow:hidden;
}

/* 슬라이드 */
.slick-slider{
  display:flex;
  align-items: center;
  height:100%;
  margin:0 20px;
}

.slick-slide{
  margin-right:10px;
}

.slide-content {
  height:150px;
  border-radius: 5px;
  background: rgba(0,0,0,0.6);
}

.swiper-slide:last-child{
  margin-right:0 !important;
}

.data-menu__top{
  display:flex;
  align-items: center;
  width:100%;
  height:40px;
  background:rgba(85,138,50,0.6);
  padding:0 20px;
}

.data-menu__top span{
  font-size: 15px;
  color:#fff;
}

.data-menu__top span::before{
  display:inline-block;
  width:10px;
  height:10px;
  background:#16311d;
  border-radius: 100px;
  content:'';
  margin-right:10px;
}

.date-menu__value{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding:15px;
}

.date-menu__value span{
  display:block;
  min-width:120px;
  font-family: "Noto Sans KR";
  font-size: 30px;
  color:#fff;
  border-bottom:1px solid rgba(255,255,255,0.5);
  padding:0 0 15px 0
}

.date-menu__value img{
  width:25px
}

.el-progress{
  width:100%;
  margin-top:10px;
}

.el-progress__text{
  color:#fff !important;
}

.slick-prev,
.slick-next{
  position:relative;
  border-radius: 5px;
  width:60px;
  height:150px;
  background:rgba(0,0,0,0.5);
  font-size: 0;
  border:none;
  margin:0 15px;
}

.slick-next::after{
  content:'';
  position: absolute;
  right: 20px; 
  top: 35%; 
  content: '';
  width: 30px; /* 사이즈 */
  height: 30px; /* 사이즈 */
  border-top: 3px solid #fff; /* 선 두께 */
  border-right: 3px solid #fff; /* 선 두께 */
  transform: rotate(45deg); /* 각도 */
  opacity: 0.8;
}

.slick-prev::after{
  content:'';
  position: absolute;
  left: 20px; 
  top: 35%; 
  content: '';
  width: 30px; /* 사이즈 */
  height: 30px; /* 사이즈 */
  border-top: 3px solid #fff; /* 선 두께 */
  border-right: 3px solid #fff; /* 선 두께 */
  transform: rotate(225deg); /* 각도 */
  opacity: 0.8;
}

.data-menu__button{
  position:fixed;
  bottom:200px;
  left:50%;
  z-index: 100;
  width:300px;
  height:35px;
  background:#17261b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border:none;
  transition: 0.5s;
}

.data-menu__button span{
  font-family: 'S-CoreDream-3Light';
  font-size: 17px;
  font-weight: bold;
  color:#fff;
  text-align: center;
}

.data-menu__button i{
  position:absolute;
  right:30px;
  top:5px;
  width:25px;
  height:25px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  background:#4a5c4f;
}

.data-menu__button.active{
  bottom:0;
}

.data-menu__button.active i{
  transform: rotate(180deg);
}

/* 로그인 페이지 */
.login-layout{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;
  height:100vh;
  overflow:hidden;
  background:url('@/assets/images/login-bg.jpg')no-repeat center;
}

.login-layout .logo{
  margin-bottom:50px;
}

.login-form__box{
  width:560px;
  height:auto;
  background:#fff;
  border-radius: 10px;
  overflow:hidden;
  box-shadow: 1px 1px 15px rgb(0 0 0 / 30%);
}

.login-form__box p{
  font-family: "Noto Sans KR";
  font-size: 20px;
  background:#76a22d;
  color:#fff;
  text-align: center;
  padding:20px 0;
}

.login-form{
  padding:40px 60px;
}

.form-input__box{
  display:flex;
  align-items: center;
  border-bottom:1px solid #e3e3e3;
  padding:15px;
  margin-bottom:20px;
}

.form-input__box:nth-child(2){
  margin-bottom:40px;
}

.form-input__box label{
  font-family: "Noto Sans KR";
  width:20%;
  font-size: 16px;
  font-weight: 500;
}

.form-input__box input{
  font-family: "Noto Sans KR";
  width:80%;
  border:none;
  outline:none;
  font-size: 16px;
}

.login-form button{
  width:80%;
  display:block;
  margin:20px auto;
  font-family: "Noto Sans KR";
  font-size: 20px;
  color:#fff;
  background:#16311d;
  padding:15px 0;
  border-radius: 10px;
  border:none;
}

.login-form__option{
  display: flex;
  justify-content: center;
}

.login-form__option input{
  width:20px;
  height:20px;
  margin-right:10px;
}

.login-form__option label{
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: bold;
  padding-top:3px;
}

/* 옵션 타이머 설정 */
.control-add__button{
  float:right;
  margin-bottom:10px;
}
.option-timer__table{
  width:100%;
  border:1px solid #e3e3e3;
}

.option-timer__table tr{
  border-bottom:1px solid #e3e3e3;
}

.option-timer__table th{
  padding:10px 0;
  background:#f5f5f5;
}

.option-timer__table td{
  padding:5px 0;
  text-align: center;
}

.option-timer__table .el-date-editor{
  margin:0 5px;
}

.side-menu
.option-timer__table .el-switch{
  position:relative;
  top:0;
  left: 0;
  z-index: 10;
}

/* 마이페이지 */
.mypage{
  padding:50px 40px;
}

.mypage-head{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background:#4a5e4f;
  height:90px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding:0 50px;
  margin-bottom:50px;
}

.mypage-head p{
  font-size: 25px;
  color:#fff;
}

.mypage-head button{
  font-size: 15px;
  border:none;
  background:none;
  color:#fff;
}

.mypage-head button i{
  font-size: 20px;
  margin-right:10px;
}

.myapge-content{
  height:75vh;
  border-radius: 20px;
  background:#fff;
  padding:50px;
  box-shadow: 1px 5px 10px rgba(0,0,0,0.2);
}

.myapge-content p{
  font-family: "Noto Sans KR";
  font-size: 18px;
  padding-left:10px;
}

.myapge-content p::before{
  content:'';
  display:inline-block;
  width:10px;
  height:10px;
  background:#16311d;
  margin-right:10px;
}

.mypage__table{
  width:100%;
  border-collapse: unset;
  border-spacing: 10px;
  margin:20px 0;
}

.mypage__table th{
  width:20%;
  background:#f7f7f7;
  padding:15px 30px;
  border-top:1px solid #d2d2d2;
  text-align: left;
  font-size: 15px;
  color:#1d1d1d;
  vertical-align: middle;
}

.mypage__table th,
.mypage__table td{
  font-family: "Noto Sans KR"; 
}

.mypage__table .el-input{
  height:50px;
}

.mypage__table 
.el-input--small .el-input__inner{
  height:100%;
  border-radius: 0;
}

.mypage-edit__button{
  padding: 10px 20px;
  float:right;
  border:none;
  background:#16311d;
  color:#fff;
  border-radius: 5px;
  font-weight: 500;
}

/* daum post api */
.daumpost-api__box{
  display:flex;
  margin-bottom:10px;
}

.daumpost-api__box:last-child{
  margin-bottom:0;
}

.daumpost-api__box span{
  display:block;
  font-family: "Noto Sans KR";
  width:100%;
  height:50px;
  line-height:50px;
  border:1px solid #e3e3e3;
  color:#919191;
  padding:0 20px;
}

.daumpost-api__box .post-number{
  width:200px;
}

.daumpost-api__box button{
  background:#16311d;
  border:none;
  font-size: 15px;
  color:#fff;
  padding:0 10px;
}