@charset "utf-8";

/* 사이드메뉴 */
.side-menu{
  position:relative;
  width:15%;
  height:100vh;
  z-index:1000;
}

.side-menu__top{
  display:flex;
  align-items: center;
  justify-content: center;
  height:190px;
  background:#16311d;
}

.side-menu.active{
  width:30%;
}

.side-menu.active
.side-menu__top{
  max-width:50%
}

.side-menu__title{
  display:flex;
  align-items: center;
  height:90px;
  background:#1f582e;
  padding:0 40px;
}

.side-menu__title p{
  font-size: 20px;
  font-weight: bold;
  color:#fff;
}

.tab-wrapper{
  position:relative;
}

.extend-sidemenu
.el-tabs__content{
  position:fixed;
  top:0;
  padding:0;
  opacity: 0;
  left:15%;
  width:15%;
  height:100vh;
  background:#fff;
  transition: 0.3s;
  z-index:100;
}

.side-menu.active
.el-tabs__content{
  opacity: 1;
}

.extend-sidemenu.el-tabs--border-card{
  border:none;
  box-shadow: none;
}

.extend-sidemenu
.el-tabs__nav{
  display:flex;
  flex-direction: column;
}

.extend-sidemenu
.el-tabs__nav{
  width:100%;
}

.el-tabs__item.is-active
.side-menu__name{
  display:block;
  font-weight: bold;
  color:#17261b;
}

.side-menu__name{
  font-size: 15px;
  font-weight: bold;
  color:#2e394f;
}

.el-tabs__item{
  height:50px;
  line-height:50px;
  padding:0 40px !important;
  background:#fff;
}

.el-tabs__item:hover,
.el-tabs__item.is-active{
  border-color:#e3e3e3 !important;
  background:#f2f2f2 !important;
}

.el-tabs--border-card>
.el-tabs__header .el-tabs__item{
  margin-top:0;
  border-bottom:1px solid #e3e3e3; 
}

.el-tabs--border-card>.el-tabs__header{
  background:#f3f3f3;
  border-right:none;
}

.el-menu{
  border-right:none;
}

.el-menu-item img,
.el-submenu__title img{
  width:20px;
  margin-right:20px;
}

.el-menu-item,
.el-submenu__title{
  display:flex;
  align-items: center;
  height:60px;
  line-height:60px;
  border-bottom:1px solid #e3e3e3;
  padding:0 25px !important;
}

.el-menu-item-group__title{
  display:none;
}

.el-submenu__title:focus,
.el-submenu__title:hover{
  background-color:#76a22d;
  color:#fff;
}

.el-submenu__title::before{
  display:inline-block;
  top:15px;
  content:'';
  width:25px;
  height:25px;
  background:#000;
  margin-right:20px;
}

.el-submenu.is-opened
.el-submenu__title{
  background-color:#76a22d;
  color:#fff;
}

.tab-wrapper:nth-child(2)
.el-submenu__title::before{
  background:url('../svg/fuction-ico1.svg')no-repeat center
}

.tab-wrapper:nth-child(2):hover
.el-submenu__title::before,
.tab-wrapper:nth-child(2) .is-opened
.el-submenu__title::before{
  background:url('../svg/fuction-ico1_active.svg')no-repeat center
}

.tab-wrapper:nth-child(3)
.el-submenu__title::before
{
  background:url('../svg/fuction-ico2.svg')no-repeat center
}

.tab-wrapper:nth-child(3):hover
.el-submenu__title::before,
.tab-wrapper:nth-child(3) .is-opened
.el-submenu__title::before{
  background:url('../svg/fuction-ico2_active.svg')no-repeat center
}

.tab-wrapper:nth-child(4)
.el-submenu__title::before{
  background:url('../svg/fuction-ico3.svg')no-repeat center
}

.tab-wrapper:nth-child(4):hover
.el-submenu__title::before,
.tab-wrapper:nth-child(4) .is-opened
.el-submenu__title::before{
  background:url('../svg/fuction-ico3_active.svg')no-repeat center
}

.tab-wrapper:nth-child(5)
.el-submenu__title::before{
  background:url('../svg/fuction-ico4.svg')no-repeat center
}

.tab-wrapper:nth-child(5):hover
.el-submenu__title::before,
.tab-wrapper:nth-child(5) .is-opened
.el-submenu__title::before{
  background:url('../svg/fuction-ico4_active.svg')no-repeat center
}

.tab-wrapper:nth-child(6)
.el-submenu__title::before{
  background:url('../svg/fuction-ico5.svg')no-repeat center
}

.tab-wrapper:nth-child(6):hover
.el-submenu__title::before,
.tab-wrapper:nth-child(6) .is-opened
.el-submenu__title::before{
  background:url('../svg/fuction-ico5_active.svg')no-repeat center
}

.tab-wrapper:nth-child(7)
.el-submenu__title::before{
  background:url('../svg/fuction-ico6.svg')no-repeat center
}

.tab-wrapper:nth-child(7):hover
.el-submenu__title::before,
.tab-wrapper:nth-child(7) .is-opened
.el-submenu__title::before{
  background:url('../svg/fuction-ico6_active.svg')no-repeat center
}

.tab-wrapper:nth-child(8)
.el-submenu__title::before{
  background:url('../svg/fuction-ico7.svg')no-repeat center
}

.tab-wrapper:nth-child(8):hover
.el-submenu__title::before,
.tab-wrapper:nth-child(8) .is-opened
.el-submenu__title::before{
  background:url('../svg/fuction-ico7_active.svg')no-repeat center
}

.tab-wrapper:nth-child(9)
.el-submenu__title::before{
  background:url('../svg/fuction-ico8.svg')no-repeat center
}

.tab-wrapper:nth-child(9):hover
.el-submenu__title::before,
.tab-wrapper:nth-child(9) .is-opened
.el-submenu__title::before{
  background:url('../svg/fuction-ico8_active.svg')no-repeat center
}

.tab-wrapper:nth-child(10)
.el-submenu__title::before{
  background:url('../svg/fuction-ico9.svg')no-repeat center
}

.tab-wrapper:nth-child(10):hover
.el-submenu__title::before,
.tab-wrapper:nth-child(10) .is-opened
.el-submenu__title::before{
  background:url('../svg/fuction-ico9_active.svg')no-repeat center
}

.tab-wrapper:nth-child(11)
.el-submenu__title::before{
  background:url('../svg/fuction-ico10.svg')no-repeat center
}

.tab-wrapper:nth-child(11):hover
.el-submenu__title::before,
.tab-wrapper:nth-child(11) .is-opened
.el-submenu__title::before{
  background:url('../svg/fuction-ico10_active.svg')no-repeat center
}

.el-submenu .el-menu-item{
  background:#f2f2f2;
}

.el-submenu .el-menu-item::before{
  display:inline-block;
  content:'';
  width:5px;
  height:5px;
  background:#b1b1b1;
  border-radius: 100px;
  margin:0 30px 0 10px;
}

.el-submenu.is-active .el-submenu__title{
  border-color:#e3e3e3;
}

.el-menu-item.is-active{
  color:#303133;
}

.side-menu .el-switch{
  position:absolute;
  top:18px;
  right:40px;
  z-index:9999;
}

.side-menu
.el-switch.is-checked .el-switch__core{
  background-color:#1e562e;
  border-color:#1e562e;
}

.menu-close__button{
  position:fixed;
  top:100px;
  left:15%;
  background:#17261b;
  width:35px;
  height:90px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.4s;
  z-index:100;
  border:none;
}

.menu-close__button i{
  font-size: 20px;
  color:#fff;
}

.side-menu.active
.menu-close__button{
  left:30%;
}

.side-menu.active
.menu-close__button i{
  transform: rotate(180deg);
}

.tab-menu__title{
  display:flex;
  align-items: center;
  background:#17261b;
  height:55px;
  color:rgba(255,255,255,0.5);
  padding:0 25px;
}

/* footer 메뉴 */
.side-menu.active
.footer-menu__list{
  max-width:50%;
}

.footer-menu__list{
  display:flex;
  justify-content: center;
  position:absolute;
  width: 100%;
  bottom:35px;
}

.footer-menu__list li{
  margin:0 30px;
}

.footer-menu__list li i{
  margin-right:10px;
}