<template>
  <div class="side-menu">
    <div class="side-menu__top">
      <h1><img src="@/assets/svg/logo.svg"></h1>
    </div>
    <div class="side-menu__title">
      <p>관리자</p>
    </div>
    <ul class="side-menu__list">
      <li class="side-menu__item" :class="{active: $route.name == 'index'}">
        <router-link :to="{name: 'index'}">회원관리</router-link>
      </li>
      <li class="side-menu__item" :class="{active: $route.name == 'cubeManage'}">
        <router-link :to="{name: 'cubeManage'}">큐브관리</router-link>
      </li>
      <li class="side-menu__item" :class="{active: $route.name == 'controllerManage'}">
        <router-link :to="{name: 'controllerManage'}">컨트롤러 관리</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'SideMenu',
  data() {
    return {
    }
  }
};
</script>


<style>
</style