<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import('@/assets/css/default.css');
import('@/assets/css/font.css');
import('@/assets/css/sidemenu.css');
export default {
  name: 'index',
  components: {
  },
};
</script>

<style>
</style>
