<template>
  <div class="contents">
    <div class="menu-title__box">
      <p>컨트롤러 관리</p>
    </div>
    <!-- 관리자 버튼 , 검색창 -->
    <!-- <div class="admin-function__area">
      <div class="search-form__box">
        <el-input placeholder="검색어를 입력해주세요." v-model="searchForm" class="input-with-select">
          <el-select v-model="selectOption" slot="prepend" placeholder="선택">
            <el-option label="큐브명" value="cubename"></el-option>
          </el-select>
          <el-button slot="append" icon="el-icon-search"></el-button>
        </el-input>
      </div>
    </div> -->

    <!-- 컨트롤러 테이블 -->
    <table class="table-style01">
      <thead>
        <tr>
          <th>큐브명</th>
          <th>맥어드레스명</th>
          <th>등록일자</th>
          <th>사용유무</th>
          <th>만료기간</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="controller in controllerList">
          <td>드림팜 큐브 1</td>
          <td>{{controller.controller_id}}</td>
          <td>{{controller.controller_update}}</td>
          <td>
            <el-switch name="status" v-model="controller.controller_auto_status" :active-value="1" :inactive-value="0" @change="chgStatus(controller.controller_id, controller.controller_auto_status)"/>
          </td>
          <td>{{controller.controller_expire}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
const axios = require('axios').default;
export default {
  name: 'ControllerManage',
  components: {
  },
  data() {
    return{
      selectOption: '',
      searchForm: '',
      controllerList:[],
    }
  },

  mounted() {
    axios.get('http://52.79.223.31:8000/controller/read')
      .then((res) => { 
          this.controllerList = res.data 
      })
      .catch(err => console.error(err))
  },

  methods: {
    chgStatus(id, val){
        console.log(id+"-"+val);
      let data = {
        controller_id:id,
        controller_auto_status:val,
      }
      axios
      .post('http://52.79.223.31:8000/controller/change_auto_status',  JSON.stringify(data), {
        headers: {
          "Content-Type": `application/json`,
        },
      })
      .then((res) =>{
        console.log(res.data[0].result);
        if(res.data[0].result == '1'){
          console.log('성공');
        }else{
          console.log('실패');
        }
      })
      .catch(err => console.error(err))
    }
  }
};
</script>