<template>
  <div class="flex-container">
    <div class="cube-sidemenu">
      <el-tab-pane style="display:block">
        <span slot="label" class="side-menu__name" @click="$EventBus.$emit('active-data')">큐브1 </span>
        <el-menu class="extent-sidemenu__list el-menu-vertical-demo">
          <div class="tab-wrapper" v-for="(unitGroup, index) in unitGroupList" :key='index'>
            <el-switch v-model="unitGroup.group_auto_status" :active-value="1" :inactive-value="0" @change="chgStatus(unitGroup.group_controller_id, unitGroup.group_id, unitGroup.group_auto_status)" />
            <el-submenu :index="(index + 1).toString()">
              <template slot="title">
                <span>{{unitGroup.group_name}}</span>
              </template>  
              <el-menu-item-group v-for="(unit, idx) in (unitList[unitGroup.group_id])" :key='idx'>
                <el-menu-item :index="(index+1)+'-'+(idx+1)">{{unit.unit_name}} 
                  <!-- <button v-if="unitGroup.group_name == '에어콘'" @click="temperatureControlVisible = true" class="setting-button">
                    <i class="el-icon-time"></i>
                  </button> -->
                  <button @click="detailControl(unit.unit_controller_id, unit.unit_id, unitGroup.group_id)" class="setting-button"><!-- detailControlVisible = true -->
                    <i class="el-icon-time"></i>
                  </button>
                <el-switch v-model="unit.unit_operation_type" :active-value="1" :inactive-value="0" v-bind:disabled="unitGroup.group_auto_status == '0'" @change="chgUnitStatus(unit.unit_controller_id, unit.unit_id, unit.unit_operation_type)" /> </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </div>
        </el-menu>
      </el-tab-pane>
    </div>
    <div class="data-content">
      <div class="menu-title__box">
        <p>드림팜 큐브 1</p>
      </div>
      <p class="use-controller__title">센서 데이터</p>
      <el-radio-group v-model="sensor_date" @change="changeDataToDate">
        <el-radio-button label="day"></el-radio-button>
        <!-- <el-radio-button label="week"></el-radio-button> -->
        <el-radio-button label="month"></el-radio-button>
        <el-radio-button label="year"></el-radio-button>
      </el-radio-group>
      <el-tabs type="border-card" @tab-click="changeData" class="chart-content">
        <el-tab-pane label="temp" ref="temp">
          <span slot="label"><img src="~@/assets/svg/data-ico1.svg">온도</span>
          <div id="temp_chart">
            <apexchart type="line" ref="temp_chart" height="350" :options="chartOptions" :series="series"></apexchart>
          </div>
        </el-tab-pane>
        <el-tab-pane label="humidity" ref="humidity">
          <span slot="label"><img src="~@/assets/svg/data-ico2.svg">습도</span>
          <div id="humidity_chart">
            <apexchart type="line" ref="humidity_chart" height="350" :options="chartOptions" :series="series"></apexchart>
          </div>
        </el-tab-pane>
        <el-tab-pane label="co2" ref="co2">
          <span slot="label"><img src="~@/assets/svg/data-ico3.svg">이산화탄소</span>
          <div id="co2_chart">
            <apexchart type="line" ref="co2_chart" height="350" :options="chartOptions" :series="series"></apexchart>
          </div>
        </el-tab-pane>
        <el-tab-pane label="lux" ref="lux">
          <span slot="label"><img src="~@/assets/svg/data-ico4.svg"> 조도</span>
          <div id="lux_chart">
            <apexchart type="line" ref="lux_chart" height="350" :options="chartOptions" :series="series"></apexchart>
          </div>
        </el-tab-pane>
        <el-tab-pane label="ph" ref="ph">
          <span slot="label"><img src="~@/assets/svg/data-ico5.svg">  PH농도</span>
          <div id="ph_chart">
            <apexchart type="line" ref="ph_chart" height="350" :options="chartOptions" :series="series"></apexchart>
          </div>
        </el-tab-pane>
        <el-tab-pane label="ec" ref="ec">
          <span slot="label"><img src="~@/assets/svg/data-ico6.svg"> 전해질</span>
          <div id="ec_chart">
            <apexchart type="line" ref="ec_chart" height="350" :options="chartOptions" :series="series"></apexchart>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>

    <!-- 타이머 설정-->
    <el-dialog
      title="타이머 설정"
      :visible.sync="detailControlVisible"
      width="30%"
      >
      <el-button 
        type="primary"
        class="control-add__button"
        @click="timerAddVisible = true"
        >
        추가
      </el-button>
      <table class="option-timer__table">
        <thead>
          <tr>
            <th>시작시간</th>
            <th>상태</th>
            <th>관리</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(time, index) in unitTimerList" :key='index'>
            <td>{{ (time.unit_timer_id % 60) == 0 ? parseInt(time.unit_timer_id / 60) + ":"+'00' : parseInt(time.unit_timer_id / 60) + ":"+(time.unit_timer_id % 60)}}</td>
            <td>{{ time.unit_timer_stat == 1 ? 'ON' : 'OFF'}}</td>
            <td><el-button type="danger" @click="delete_timer(time.unit_timer_id)">삭제</el-button></td>
          </tr>
          <!-- <tr>
            <td>09:00</td>
            <td>OFF</td>
            <td><el-button type="danger">삭제</el-button></td>
          </tr> -->
        </tbody>
      </table>
    </el-dialog>
    <!-- 타이머 추가 -->
    <el-dialog
      title="타이머 추가"
      :visible.sync="timerAddVisible"
      width="30%"
      >
      <table class="option-timer__table">
        <thead>
          <tr>
            <th>시간설정</th>
            <th>상태</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <el-time-select
                placeholder="시작 시간"
                v-model="startTime"
                :picker-options="{
                  start: '00:00',
                  step: '00:30',
                  end: '24:00'
                }">
              </el-time-select>
              </td>
              <td>
                <el-select v-model="timeValue" placeholder="선택해주세요.">
                  <el-option value="1" label="ON"/>
                  <el-option value="0" label="OFF"/>
                </el-select>
              </td>
          </tr>
        </tbody>
      </table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="timerAddVisible = false">취소</el-button>
        <el-button type="primary" @click="addtimer()">추가</el-button>
      </span>
    </el-dialog>
    <!-- 온도 설정 -->
    <el-dialog
      title="온도 설정"
      :visible.sync="temperatureControlVisible"
      width="30%"
      >
      <table class="option-timer__table">
        <thead>
          <tr>
            <th>시작시간</th>
            <th>온도</th>
            <th>사용여부</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <el-time-select
                v-model="morning"
                :picker-options="{
                  start: '00:00',
                  step: '00:30',
                  end: '24:00'
                }"
                placeholder="시작 시간">
              </el-time-select>
            </td>
            <td><el-input-number v-model="morning_temperature" :min="18" :max="40" class="number-select"></el-input-number></td>
            <td><el-switch v-model="morning_temperatureControl" :active-value="1" :inactive-value="0"/></td>
          </tr>
          <tr>
            <td>
              <el-time-select
                v-model="afternoon"
                :picker-options="{
                  start: '00:00',
                  step: '00:30',
                  end: '24:00'
                }"
                placeholder="시작 시간">
              </el-time-select>
            </td>
            <td><el-input-number v-model="afternoon_temperature" :min="18" :max="40" class="number-select"></el-input-number></td>
            <td><el-switch v-model="afternoon_temperatureControl" :active-value="1" :inactive-value="0"/></td>
          </tr>
        </tbody>
      </table>
      <el-button type="primary" class="submit-button" @click="add_timer_temp()">저장</el-button>
    </el-dialog>
  </div>
</template>

<script>
const axios = require('axios').default;
export default {
  name: 'CubeManageDetail',
  components: {
  },
  data() {
    return{
      series: [
        {
          name: "센서값",
          data: [10, 41, 35, 51, 49, 62, 69]
        },
        {
          name: "센서값(최대)",
          data: [10, 41, 35, 51, 49, 62, 69]
        },
        {
          name: "센서값(최소)",
          data: [10, 41, 35, 51, 49, 62, 69]
        }
      ],
      chartOptions: {
        chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        xaxis: {
          categories: ['일', '월', '화', '수', '목', '금', '토'],
        }
      },
      id: this.$route.params.id ? this.$route.params.id : 0,
      machineDetail : [],
      controller_id: '',
      sensor_type: "temp",
      sensor_date: "day",
      unitType: [],
      unitList_temp: [],
      unitList: [],
      unitGroupList: [],
      date_pre: '',
      year_pre: '',
      month_pre: '',
      day_pre: '',
      date: '',
      year: '',
      month: '', 
      day: '',
      dateList:[],
      week: ['일', '월', '화', '수', '목', '금', '토'],
      detailControlVisible:false,
      timerAddVisible: false,
      temperatureControlVisible: false,
      temperatureControl:false,
      morning: '',
      morning_temperature : 0,
      morning_temperatureControl: '0',
      afternoon: '',
      afternoon_temperature: 0,
      afternoon_temperatureControl: '0',
      startTime: '',
      timeValue: '',
      temperature:'',
      unitTimerList:[],
    }
  },
  created() {
    this.year = (new Date()).getFullYear()
    this.month = (new Date()).getMonth()+1
    this.day = (new Date()).getDate()
    this.date = (this.year)+"-"+(("00"+(this.month).toString()).slice(-2))+"-"+(("00"+(this.day).toString()).slice(-2))
    this.date_pre = new Date((new Date()).getFullYear(), (new Date()).getMonth(), (new Date()).getDate()-3)

    this.year_pre = (this.date_pre).getFullYear()
    this.month_pre = (this.date_pre).getMonth()+1
    this.day_pre = (this.date_pre).getDate()
    this.date_pre = (this.year_pre)+"-"+(("00"+(this.month_pre).toString()).slice(-2))+"-"+(("00"+(this.day_pre).toString()).slice(-2))
  },
  mounted(){
    let machine_data = {
      user_token:'',
      machine_id:this.id,
    }

    let controller_data = {
      controller_id : this.controller_id ? this.controller_id : ""
    }

    let sensor_data = {
      controller_id : this.controller_id ? this.controller_id : "",
      sensor_type: this.sensor_type ? this.sensor_type : "",
      sensor_date: this.sensor_date ? this.sensor_date : "",
    }

    // 최초 controller unit_data, sensor_data 구하기
    axios.post('http://52.79.223.31:8000/machine/info',  JSON.stringify(machine_data), {
      headers: {
        "Content-Type": `application/json`,
      }})
    .then((res) => { 
      this.controller_id = res.data[0].machine_pairing
      controller_data.controller_id = res.data[0].machine_pairing
      sensor_data.controller_id = res.data[0].machine_pairing

      // 유닛 정보
      axios.post('http://52.79.223.31:8000/unit/unit_group_data',  JSON.stringify(controller_data), {
        headers: {
          "Content-Type": `application/json`,
        }})
      .then((res) => { 
        this.unitGroupList = res.data
      }) 
      .catch(err => console.error(err))

      // 유닛 정보
      axios.post('http://52.79.223.31:8000/unit/unit_data',  JSON.stringify(controller_data), {
        headers: {
          "Content-Type": `application/json`,
        }})
      .then((res) => { 
        this.unitList_temp = res.data

        let reduceObj = this.unitList_temp.reduce(function (acc, obj) {
            var key = obj['unit_group'];
            if (!acc[key]) {
              acc[key] = [];
            }
            acc[key].push(obj);
            return acc;
          }, {})
          this.unitList = reduceObj
          //console.log(reduceObj)
      }) 
      .catch(err => console.error(err))

      // 센서 정보 (온도 / 주)
      axios.post('http://52.79.223.31:8000/controller/sensor_data',  JSON.stringify(sensor_data), {
        headers: {
          "Content-Type": `application/json`,
        }})
      .then((res) => { 
        //console.log(res.data)
        this.series[0].data = []
        this.series[1].data = []
        this.series[2].data = []
        this.chartOptions.xaxis.categories = []

        for(var i=0; i < (res.data).length; i++){
          this.series[0].data[i] = res.data[i].avg_type.toFixed(2)
          this.series[1].data[i] = res.data[i].max_type.toFixed(2)
          this.series[2].data[i] = res.data[i].min_type.toFixed(2)
          this.chartOptions.xaxis.categories[i] = this.week[new Date(res.data[i].date).getDay()]
        }
      }) 
      .catch(err => console.error(err))
    }) 
    .catch(err => console.error(err))
  },
  methods: {
    chgStatus(id, unit_id, val){
      let data = {
        group_controller_id:id,
        group_id:unit_id,
        group_auto_status:val,
      }
      axios
      .post('http://52.79.223.31:8000/unit/unit_group_change_auto_status',  JSON.stringify(data), {
        headers: {
          "Content-Type": `application/json`,
        },
      })
      .then((res) =>{
        console.log(res.data[0].result);
        if(res.data[0].result == '1'){
          console.log('성공');
        }else{
          console.log('실패');
        }
      })
      .catch(err => console.error(err))
    },
    chgUnitStatus(id, unit_id, val){
      let data = {
        unit_controller_id:id,
        unit_id:unit_id,
        unit_operation_type:val,
      }
      axios
      .post('http://52.79.223.31:8000/unit/unit_change_auto_status',  JSON.stringify(data), {
        headers: {
          "Content-Type": `application/json`,
        },
      })
      .then((res) =>{
        console.log(res.data[0].result);
        if(res.data[0].result == '1'){
          console.log('성공');
        }else{
          console.log('실패');
        }
      })
      .catch(err => console.error(err))
    },
    changeData(tab,event){
      let data = {
        controller_id : this.controller_id,
        sensor_type: tab.label ? tab.label : this.sensor_type,
        sensor_date: this.sensor_date,
      }

      this.sensor_type = tab.label

      // 센서 정보 (온도 / 주)
      axios.post('http://52.79.223.31:8000/controller/sensor_data',  JSON.stringify(data), {
        headers: {
          "Content-Type": `application/json`,
        }})
      .then((res) => { 
        this.series[0].data = []
        this.series[1].data = []
        this.series[2].data = []
        this.chartOptions.xaxis.categories = []

        for(var i=0; i < (res.data).length; i++){
          this.series[0].data[i] = res.data[i].avg_type.toFixed(2)
          this.series[1].data[i] = res.data[i].max_type.toFixed(2)
          this.series[2].data[i] = res.data[i].min_type.toFixed(2)
          if(this.sensor_date == 'day')
            this.chartOptions.xaxis.categories[i] = this.week[new Date(res.data[i].date).getDay()]
          /*else if(value == 'week')
            this.chartOptions.xaxis.categories[i] = res.data[i].date*/
          else if(this.sensor_date == 'month'){
            let date = (res.data[i].date).split('-')
            this.chartOptions.xaxis.categories[i] = date[0]+'-'+date[1]
          }
          else{
            let date = (res.data[i].date).split('-')
            this.chartOptions.xaxis.categories[i] = date[0]
          }
        }
        
        (this.$refs[(this.sensor_type)+"_chart"]).updateOptions(this.chartOptions)
      }) 
      .catch(err => console.error(err))
    },
    changeDataToDate(value, e){
      let data = {
        controller_id : this.controller_id,
        sensor_type: this.sensor_type,
        sensor_date: this.sensor_date,
      }

      this.sensor_date = this.sensor_date

      // 센서 정보 (온도 / 주)
      axios.post('http://52.79.223.31:8000/controller/sensor_data',  JSON.stringify(data), {
        headers: {
          "Content-Type": `application/json`,
        }})
      .then((res) => { 
        this.series[0].data = []
        this.series[1].data = []
        this.series[2].data = []
        this.chartOptions.xaxis.categories = []

        for(var i=0; i < (res.data).length; i++){
          this.series[0].data[i] = res.data[i].avg_type.toFixed(2)
          this.series[1].data[i] = res.data[i].max_type.toFixed(2)
          this.series[2].data[i] = res.data[i].min_type.toFixed(2)
          if(this.sensor_date == 'day')
            this.chartOptions.xaxis.categories[i] = this.week[new Date(res.data[i].date).getDay()]
          /*else if(value == 'week')
            this.chartOptions.xaxis.categories[i] = res.data[i].date*/
          else if(this.sensor_date == 'month'){
            let date = (res.data[i].date).split('-')
            this.chartOptions.xaxis.categories[i] = date[0]+'-'+date[1]
          }
          else{
            let date = (res.data[i].date).split('-')
            this.chartOptions.xaxis.categories[i] = date[0]
          }
        }


        (this.$refs[(this.sensor_type)+"_chart"]).updateOptions(this.chartOptions);
        (this.$refs[(this.sensor_type)+"_chart"]).updateSeries(this.series);
      }) 
      .catch(err => console.error(err))
    },
    detailControl(controller_id, unit_id, group_id){
      this.controller_id = controller_id
      this.unit_id = unit_id
      this.group_id = group_id

      if(group_id == '06'){
        this.temperatureControlVisible = true
        this.morning = ''
        this.morning_temperature = 20
        this.morning_temperatureControl = false
        this.afternoon = ''
        this.afternoon_temperature = 20
        this.afternoon_temperatureControl = false

        let data = {
          unit_controller_id:controller_id,
          unit_id:unit_id,
        }

        axios.post('http://52.79.223.31:8000/unit/timer_detail',  JSON.stringify(data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) =>{
          if(res.data[0].unit_timer_id < res.data[1].unit_timer_id){
            if(parseInt(res.data[0].unit_timer_id / 60) < 10){
              if((res.data[0].unit_timer_id % 60) == 0)
                this.morning = '0'+parseInt(res.data[0].unit_timer_id / 60) + ":0" + (res.data[0].unit_timer_id % 60)
              else
                this.morning = '0'+parseInt(res.data[0].unit_timer_id / 60) + ":" + (res.data[0].unit_timer_id % 60)
            } else{
              if((res.data[0].unit_timer_id % 60) == 0)
                this.morning = parseInt(res.data[0].unit_timer_id / 60) + ":0" + (res.data[0].unit_timer_id % 60)
              else
                this.morning = parseInt(res.data[0].unit_timer_id / 60) + ":" + (res.data[0].unit_timer_id % 60)
            }
            this.morning_temperature = res.data[0].unit_temperature
            this.morning_temperatureControl = res.data[0].unit_timer_stat
            if(parseInt(res.data[1].unit_timer_id / 60) < 10){
              if((res.data[1].unit_timer_id % 60) == 0)
                this.afternoon = '0'+parseInt(res.data[1].unit_timer_id / 60) + ":0" + (res.data[1].unit_timer_id % 60)
              else
                this.afternoon = '0'+parseInt(res.data[1].unit_timer_id / 60) + ":" + (res.data[1].unit_timer_id % 60)
            } else {
              if((res.data[1].unit_timer_id % 60) == 0)
                this.afternoon = parseInt(res.data[1].unit_timer_id / 60) + ":0" + (res.data[1].unit_timer_id % 60)
              else
                this.afternoon = parseInt(res.data[1].unit_timer_id / 60) + ":" + (res.data[1].unit_timer_id % 60)
            }
            this.afternoon_temperature = res.data[1].unit_temperature
            this.afternoon_temperatureControl = res.data[1].unit_timer_stat
          } else {
            if(parseInt(res.data[1].unit_timer_id / 60) < 10)
              this.morning = '0'+parseInt(res.data[1].unit_timer_id / 60) + ":" + (res.data[1].unit_timer_id % 60)
            else
              this.morning = parseInt(res.data[1].unit_timer_id / 60) + ":" + (res.data[1].unit_timer_id % 60)
            this.morning_temperature = res.data[1].unit_temperature
            this.morning_temperatureControl = res.data[1].unit_timer_stat
            if(parseInt(res.data[0].unit_timer_id / 60) < 10)
              this.afternoon = '0'+parseInt(res.data[0].unit_timer_id / 60) + ":" + (res.data[0].unit_timer_id % 60)
            else
              this.afternoon = parseInt(res.data[0].unit_timer_id / 60) + ":" + (res.data[0].unit_timer_id % 60)
            this.afternoon_temperature = res.data[0].unit_temperature
            this.afternoon_temperatureControl = res.data[0].unit_timer_stat
          }
          // if(res.data[0].result == '1'){
          //   console.log('성공');
          // }else{
          //   console.log('실패');
          // }
        })
        .catch(err => console.error(err))
      }  else {
        this.detailControlVisible = true

        let data = {
          unit_controller_id:controller_id,
          unit_id:unit_id,
        }

        axios.post('http://52.79.223.31:8000/unit/timer_detail',  JSON.stringify(data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) =>{
          this.unitTimerList = res.data
        })
        .catch(err => console.error(err))
      }
    },
    addtimer(){
      this.startTime = (this.startTime).split(":")
      this.startTime = ((Number(this.startTime[0]) * 60) + Number(this.startTime[1]))

      let data = {
        unit_controller_id:this.controller_id,
        unit_id:this.unit_id,
        unit_timer_id: this.startTime,
        unit_timer_stat: this.timeValue,
      }

      axios.post('http://52.79.223.31:8000/unit/timer_add',  JSON.stringify(data), {
        headers: {
          "Content-Type": `application/json`,
        },
      })
      .then((res) =>{
        console.log(res.data[0].result)
        //if(res.data)
        if(res.data[0].result == '추가'){
          alert('추가되었습니다')
          window.setInterval('location.reload()', 500);
        }else{
          alert('중복된 시간입니다. 다시 시도해주세요')
          window.setInterval('location.reload()', 500);
        }
        //this.timerAddVisible = false
      })
      .catch(err => console.error(err))
    },
    delete_timer(timer){
      let data = {
        unit_controller_id:this.controller_id,
        unit_id:this.unit_id,
        unit_timer_id: timer,
      }
      this.$confirm('타이머를 삭제하시겠습니까?', '타이머삭제', {
        confirmButtonText: '삭제',
        cancelButtonText: '취소',
        type: 'warning'
      }).then(() => {
        axios.post('http://52.79.223.31:8000/unit/timer_delete',  JSON.stringify(data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        .then((res) =>{
          window.setInterval('location.reload()', 500);
        })
        .catch(err => console.error(err))
      })
    },
    add_timer_temp(){
      this.morning = (this.morning).split(":")
      this.morning = ((Number(this.morning[0]) * 60) + Number(this.morning[1]))
      this.afternoon = (this.afternoon).split(":")
      this.afternoon = ((Number(this.afternoon[0]) * 60) + Number(this.afternoon[1]))

      let data = {
        unit_controller_id:this.controller_id,
        unit_id:this.unit_id,
        unit_timer_id: this.morning,
        unit_temperature: this.morning_temperature,
        unit_timer_stat: this.morning_temperatureControl,
        unit_timer_id_after: this.afternoon,
        unit_temperature_after: this.afternoon_temperature,
        unit_timer_stat_after: this.afternoon_temperatureControl,
      }

      axios.post('http://52.79.223.31:8000/unit/timer_add_temp',  JSON.stringify(data), {
        headers: {
          "Content-Type": `application/json`,
        },
      })
      .then((res) =>{
        //console.log(res.data);
        this.temperatureControlVisible = false
      })
      .catch(err => console.error(err))
    }
  },
};
</script>

