<template>
  <div class="contents">
    <div class="menu-title__box">
      <p>큐브관리</p>
    </div>
    <!-- 관리자 버튼 , 검색창 -->
    <div class="admin-function__area">
      <div class="admin-button__box">
        <button class="add-button" @click="cubeAdd()">큐브추가</button>
        <!-- <button class="delete-button">선택삭제</button> -->
      </div>
      <div class="content-type">
        <input id="contentType1" type="radio" v-model="contentType" value="지도 보기">
        <label for="contentType1" @click="addKakaoMapScript()">지도 보기</label>
        <input id="contentType2" type="radio" v-model="contentType" value="자세히 보기">
        <label for="contentType2">자세히 보기</label>
      </div>
    </div>

    <!-- 지도 보기-->
    <div class="list-type__content" v-if="contentType == '지도 보기'">
      <div class="left-content">
        <div id="map"></div>
        <div class="cube-map__list" id="button-set">
        </div>
      </div>
      <div class="right-content">
        <div class="search-form">
          <el-select v-model="selectOption" placeholder="선택해주세요.">
            <el-option value="관리자"/>
            <el-option value="큐브명"/>
          </el-select>
          <input type="text" class="search-form__input" @input="searchGroup($event)" v-if="selectOption == '관리자'">
          <input type="text" class="search-form__input" @input="searchGroup2($event)" v-if="selectOption == '큐브명'">
        </div>
        <table class="table-style01">
          <colgroup>
            <col width="30%">
            <col width="35%">
            <col width="35%">
          </colgroup>
          <thead>
            <tr>
              <th>관리자</th>
              <th>큐브명</th>
              <th>바로가기</th>
            </tr>
          </thead>

        </table>
        <div class="table-scroll">
          <table class="table-style01">
            <colgroup>
              <col width="30%">
              <col width="35%">
              <col width="35%">
            </colgroup>
            <tbody>
              <tr v-for="(machine, idx) in machineList" class="machine-list">
                <td>{{machine.user_id}}</td>
                <td><button class="cube-button" :data-index="idx">{{machine.machine_name}}</button></td>
                <td><button @click="cubePush(machine.machine_id)" class="link-button">바로가기</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- 리스트 타입 -->
    <table id="machine-info" class="table-style01" v-if="contentType == '자세히 보기'">
      <colgroup>
        <col width="10%">
        <col width="30%">
        <col width="40%">
        <col width="20%">
      </colgroup>
      <thead>
        <tr>
          <th>관리자</th>
          <th>큐브명</th>
          <th>주소</th>
          <th>관리</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="machine in machineList" :key="machine.machine_id">
          <td>{{machine.user_id}}</td>
          <td><router-link :to="{name: 'cubeManageDetail'}">{{machine.machine_name}}</router-link></td>
          <td>{{machine.machine_address}}</td>
          <td>
            <button class="edit-button" @click="cubeUpdate(machine.machine_id)">수정</button>
            <button class="delete-button" @click="cubeDelete(machine.machine_id)">삭제</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- 큐브 추가 dialog -->
    <el-dialog
      title="큐브관리"
      :visible.sync="cubeManageVisible"
      width="40%"
      >
      <form >
        <table class="table-style02">
          <tbody>
            <tr>
              <th>관리자</th>
              <td>
                <el-select v-model="machine_user_id" filterable placeholder="이름을 입력해주세요" no-match-text="일치하는 관리자가 없습니다.">
                  <el-option v-for="userInfo in userInfos" :value="userInfo.user_id" :key="userInfo.user_id">{{ userInfo.user_name }}({{ userInfo.user_id }})</el-option>
                </el-select>
              </td>
            </tr>
            <tr>
              <th>큐브명</th>
              <td><el-input placeholder="큐브명을 입력해주세요." v-model="machine_name"  /></td>
            </tr>
            <tr>
              <th>큐브 위치</th>
              <td>
                <div class="daummap">
                  <div class="daumpost-api__box">
                    <span class="post-number">{{ machine_postcode }}</span><button @click.prevent="showApi">우편번호 찾기</button>
                  </div>
                  <div class="daumpost-api__box">
                    <span>{{ machine_address }}</span>
                  </div>
                  <el-input placeholder="상세주소" v-model="machine_detailAddress"  />
                  <el-input id="addressx" placeholder="x좌표 값" v-model="addressX"/>
                  <el-input id="addressy" placeholder="y좌표 값" v-model="addressY" />
                </div>
              </td>
            </tr>
            <tr>
              <th>컨트롤러</th>
              <td>
                <el-select v-model="machine_pairing" placeholder="컨트롤러를 선택해주세요.">
                  <el-option  v-for="controller in controllerList" :key="controller.controller_id" :value="controller.controller_id" />
                </el-select>
              </td>
            </tr>
          </tbody>
        </table>
        <span slot="footer" class="dialog-footer">
          <button class="cancel-button" @click.prevent="cubeManageVisible = false">취소</button>
          <button type="button" class="submit-button" @click="addSubmit()" v-if="addButton">추가</button>
          <button class="submit-button" @click="cubeUpdatePost()" v-if="updateButton">수정</button>
          <input type="hidden" v-model="machine_id" value="machine_id">
        </span>
      </form>
    </el-dialog>
  </div>
</template>
<script>
const axios = require('axios').default;
export default {
  name: 'CubeManage',
  components: {
  },
  data() {
    return{
      userInfos: [],
      controllerList: [],
      machineList:[],
      selectOption: "관리자",
      searchForm: '',
      cubeManageVisible: false,
      machine_name: '',
      controllerUse: 'use',
      machine_user_id: '',
      machine_postcode: '',
      addr1: '',
      JoinAdress2:'',
      addressX: 0,
      addressY: 0,
      machine_pairing:'',
      machine_type:'',
      machine_address:'',
      machine_detailAddress:'',
      machine_id:0,
      addButton:false,
      updateButton:false,
      contentType:'지도 보기',
      map: null,
      user_token: this.$cookies.get("user_token"),
      user_id: this.$cookies.get("user_id"),
    }
  },
  
  

  mounted() {
    axios.get('http://52.79.223.31:8000/controller/list_nopage')
      .then((res) => { 
          this.controllerList = res.data 
      })
      .catch(err => console.error(err))    
    axios.get('http://52.79.223.31:8000/user/list_nopage')
      .then((res) => { 
          this.userInfos = res.data 
      })
      .catch(err => console.error(err))
    
    let data = {
      user_token:this.user_token,
      user_id:this.user_id
    }

    axios.post('http://52.79.223.31:8000/machine/list',  JSON.stringify(data), {
      headers: {
        "Content-Type": `application/json`,
      }})
    .then((res) => { 
        this.machineList = res.data
    })
    .catch(err => console.error(err))

    this.addKakaoMapScript()
    this.initMap()
  },

  methods: {
    // 큐브추가
    cubeAdd() {
      this.cubeManageVisible = true
      this.addButton = true
      this.updateButton = false
      this.machine_id = ''
      this.machine_user_id = ''
      this.machine_name = ''
      this.machine_type = ''
      this.machine_lat = 0
      this.machine_log = 0
      this.machine_postcode = ''
      this.machine_address = ''
      this.machine_detailAddress = ''
      this.machine_pairing = ''
    },
    // 큐브추가 전송 API
    addSubmit() {
      let data = {
        user_token:'',
        machine_user_id:this.machine_user_id,
        machine_name:this.machine_name,
        machine_type:this.machine_type,
        machine_lat:this.addressX,
        machine_log:this.addressY,
        machine_postcode:this.machine_postcode,
        machine_address:this.machine_address,
        machine_detailAddress:this.machine_detailAddress,    
        machine_pairing:this.machine_pairing,
      }
      data.machine_lat = document.getElementById("addressx").value
      data.machine_log = document.getElementById("addressy").value
      axios
      .post('http://52.79.223.31:8000/machine/create',  JSON.stringify(data), {
        headers: {
          "Content-Type": `application/json`,
        },
      })
      this.$message({
        type: 'success',
        message: '큐브를 추가하였습니다.'
      });
      window.setInterval('location.reload()', 500);
    },
    // 큐브수정
    cubeUpdate(machineId){
      this.cubeManageVisible = true;
      this.addButton = false
      this.updateButton = true
      let data = {
        user_token:'',
        machine_id: machineId,
        }
      this.joinVisible = true;
      axios.post('http://52.79.223.31:8000/machine/info',  JSON.stringify(data), {
          headers: {
            "Content-Type": `application/json`,
          }})
        .then((res) => { 
          //console.log(res.data)
          this.machine_id = res.data[0].machine_id;
          this.machine_user_id = res.data[0].machine_user_id;
          this.machine_name = res.data[0].machine_name;
          this.machine_type = res.data[0].machine_type;
          this.machine_lat = res.data[0].machine_lat;
          this.machine_log = res.data[0].machine_log;
          this.machine_postcode = res.data[0].machine_postcode;
          this.machine_address = res.data[0].machine_address;
          this.machine_detailAddress = res.data[0].machine_detailAddress;
          this.machine_pairing = res.data[0].machine_pairing;
        }) 
        .catch(err => console.error(err))
     },
     // 큐브수정 POST
    cubeUpdatePost(){
      let data = {
        user_token:'',
        machine_user_id:this.machine_user_id,
        machine_id:this.machine_id,
        machine_name:this.machine_name,
        machine_type:this.machine_type,
        machine_lat:this.addressX,
        machine_log:this.addressY,
        machine_postcode:this.machine_postcode,
        machine_address:this.machine_address,
        machine_detailAddress:this.machine_detailAddress,    
        machine_pairing:this.machine_pairing,
        map:null,
      }
      data.machine_lat = document.getElementById("addressx").value
      data.machine_log = document.getElementById("addressy").value
      axios
      .post('http://52.79.223.31:8000/machine/update',  JSON.stringify(data), {
        headers: {
          "Content-Type": `application/json`,
        },
      })
      this.$message({
        type: 'success',
        message: '큐브정보를 수정하였습니다..'
      });
      window.setInterval('location.reload()', 500);
    },
    // 큐브삭제
    cubeDelete(machineId) {
      let data = {
        user_token:'',
        machine_id: machineId,
      }
      this.$confirm('정말 큐브를 삭제하시겠습니까?', '큐브삭제', {
        confirmButtonText: '삭제',
        cancelButtonText: '취소',
        type: 'warning'
      }).then(() => {
        axios
        .post('http://52.79.223.31:8000/machine/delete',  JSON.stringify(data), {
          headers: {
            "Content-Type": `application/json`,
          },
        })
        this.$message({
          type: 'success',
          message: '큐브를 삭제하였습니다.'
        });
        window.setInterval('location.reload()', 500);
      })
    },
    // 다음 API
    showApi() {
      new window.daum.Postcode({
          oncomplete: (data) => {
              // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
  
              // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
              // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
              let fullRoadAddr = data.roadAddress; // 도로명 주소 변수
              let extraRoadAddr = ''; // 도로명 조합형 주소 변수
  
              // 법정동명이 있을 경우 추가한다. (법정리는 제외)
              // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
              if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                  extraRoadAddr += data.bname;
              }
              // 건물명이 있고, 공동주택일 경우 추가한다.
              if(data.buildingName !== '' && data.apartment === 'Y'){
              extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
              }
              // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
              if(extraRoadAddr !== ''){
                  extraRoadAddr = ' (' + extraRoadAddr + ')';
              }
              // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
              if(fullRoadAddr !== ''){
                  fullRoadAddr += extraRoadAddr;
              }

              var geocoder = new kakao.maps.services.Geocoder();
              var callback = async function(result, status) {
                  if (status === kakao.maps.services.Status.OK) {
                      document.getElementById("addressx").value = result[0].x;
                      document.getElementById("addressy").value = result[0].y;
                  }
              };        
              geocoder.addressSearch(fullRoadAddr, callback);
              // 우편번호와 주소 정보를 해당 필드에 넣는다.
              this.machine_postcode = data.zonecode; //5자리 새우편번호 사용
              this.machine_address = fullRoadAddr;
          }
      }).open()
    }, 
    addKakaoMapScript() {
      const script = document.createElement("script");
      /* global kakao */
      script.onload = () => kakao.maps.load(this.initMap);
      script.src =
        "http://dapi.kakao.com/v2/maps/sdk.js?autoload=false&appkey=d0390a69771279e625922e7a37359e5d&libraries=services";
      document.head.appendChild(script);
    },  
    initMap() {
      var self = this;
      var machine = this.machineList;
      var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
          mapOption = { 
              //center: new kakao.maps.LatLng(35.0037788, 128.064185), // 지도의 중심좌표
              center: new kakao.maps.LatLng(35.0037788, 128.064185), // 지도의 중심좌표
              level: 5 // 지도의 확대 레벨
          };

      var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
      
      var positions = [];
      // 마커를 표시할 위치와 title 객체 배열입니다 
      for (var j=0; j<machine.length; j++){
        let lat = machine[j].machine_lat;
        let log = parseFloat(machine[j].machine_log);
        positions[j] = {id : machine[j].machine_id, title : machine[j].machine_name, latlng: new kakao.maps.LatLng(log, lat)};
      console.log(this.machineList)
      }


      // 마커 이미지의 이미지 주소입니다
      var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
      //const buttonSet = document.getElementById('button-set'); 
      for (var i = 0; i < positions.length; i ++) {
        var id = "";
          
          // 마커 이미지의 이미지 크기 입니다
          var imageSize = new kakao.maps.Size(24, 35); 
          
          // 마커 이미지를 생성합니다    
          var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
          
          // 마커를 생성합니다
          var marker = new kakao.maps.Marker({
              map: map, // 마커를 표시할 지도
              position: positions[i].latlng, // 마커를 표시할 위치
              title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
              image : markerImage // 마커 이미지 
          });

          /*const item = positions[i];
          const button = document.createElement('button');
          button.innerText = item['title'];
          button.classList.add('maker-button');
          button.setAttribute('data-index', i);
          buttonSet.appendChild(button)*/

          id = positions[i].id;


          // 마커 클릭 이벤트
          kakao.maps.event.addListener(marker, 'click', clickRouter(map, marker, id));
      }
      const cubeBox = document.querySelectorAll(".cube-button");
      cubeBox.forEach((el)=> {
        el.addEventListener('click', (e) =>{
          const target = e.target;
          const idx = target.dataset.index;
          const data = positions[idx]
          map.setCenter(data.latlng)
        })
      })

      function clickRouter(map, marker, id){
        return function(){
          self.cubePush(id);
        }
      }
    },
    // 큐브 상세페이지 push
    cubePush(id) {
      this.$router.push({name:'cubeManageDetail', params:{id: id}})
    },
    //실시간 검색
    searchGroup(event) { 
      const len = this.machineList.length;

      for (let i = 0; i < len; i++) {
        if (
          this.machineList[i].user_id.includes(event.target.value) === false
        ) {
          document.querySelectorAll(".machine-list")[i].style.display = "none";
        } else {
          document.querySelectorAll(".machine-list")[i].style.display = "table-row";
        }
      }
    },
    searchGroup2(event) { 
      const len = this.machineList.length;
      for (let i = 0; i < len; i++) {
        if (
          this.machineList[i].machine_name.includes(event.target.value) === false
        ) {
          document.querySelectorAll(".machine-list")[i].style.display = "none";
        } else {
          document.querySelectorAll(".machine-list")[i].style.display = "table-row";
        }
      }
    },
  }
}


</script>

<style>
  #map{
    width:100%;
    height:550px;
  }
</style>
