<template>
  <div class="contents">
    <div class="menu-title__box">
      <p>회원관리</p>
    </div>
    <!-- 관리자 버튼 , 검색창 -->
    <div class="admin-function__area">
      <div class="admin-button__box">
        <button class="add-button" @click="joinAdd()">회원추가</button>
        <!-- <button class="delete-button">선택삭제</button> -->
      </div>
      <!-- <div class="search-form__box">
        <el-input placeholder="검색어를 입력해주세요." v-model="searchForm" class="input-with-select">
          <el-select v-model="selectOption" slot="prepend" placeholder="선택">
            <el-option label="이름" value="name"></el-option>
            <el-option label="아이디" value="id"></el-option>
            <el-option label="휴대전화" value="phone"></el-option>
          </el-select>
          <el-button slot="append" icon="el-icon-search"></el-button>
        </el-input>
      </div> -->
    </div>

    <!-- 회원리스트 -->
    <table class="table-style01">
      <thead>
        <tr>
          <!-- <th>선택</th> -->
          <th>아이디</th>
          <th>이름</th>
          <th>휴대전화</th>
          <th>이메일</th>
          <th>주소</th>
          <th>관리</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="userInfo in userInfos">
          <!-- <td><input type="checkbox"></td> -->
          <td>{{ userInfo.user_id }}</td>
          <td>{{ userInfo.user_name }}</td>
          <td>{{ userInfo.user_phone }}</td>
          <td>{{ userInfo.user_email }}</td>
          <td>{{ userInfo.user_address + userInfo.user_detailAddress}}</td>
          <td>
            <button class="edit-button" @click="userUpdate(userInfo.user_id)">수정</button>
            <button class="delete-button" @click="userDelete(userInfo.user_id)">삭제</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- 회원추가 폼 -->
    <el-dialog
      title="회원관리"
      :visible.sync="joinVisible"
      width="40%"
      >
      <form>
        <table class="table-style02">
          <tbody>
            <tr>
              <th>권한</th>
              <td>
                <select v-model="user_role">
                  <option value="관리자">관리자</option>
                  <option value="사용자">사용자</option>
                </select>
              </td>
            </tr>
            <tr>
              <th>이름</th>
              <td><el-input placeholder="이름을 입력해주세요." v-model="user_name" required/></td>
            </tr>
            <tr>
              <th>아이디</th>
              <td><el-input placeholder="아이디를 입력해주세요." v-model="user_id"  :readonly="readonly"/></td>
            </tr>
            <tr>
              <th>비밀번호</th>
              <td><el-input placeholder="기존 비밀번호를 입력해주세요."  v-model="user_password" show-password /></td>
            </tr>
            <tr>
              <th>휴대전화</th>
              <td><el-input placeholder="010-1234-5678"  v-model="user_phone" /></td>
            </tr>
            <tr>
              <th>이메일</th>
              <td><el-input placeholder="admin@help.com"   v-model="user_email"/></td>
            </tr>
            <tr>
              <th>주소</th>
              <td>
                <div class="daummap">
                  <div class="daumpost-api__box">
                    <span class="post-number">{{ user_postcode }}</span><button @click.prevent="showApi()">우편번호 찾기</button>
                  </div>
                  <div class="daumpost-api__box">
                    <span>{{ user_address }}</span>
                  </div>
                  <el-input placeholder="상세주소" v-model="user_detailAddress"  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <span slot="footer" class="dialog-footer">
          <button class="cancel-button" @click.prevent="joinVisible = false">취소</button>
          <button class="submit-button" @click="joinSubmit()" v-if="AddButton">추가</button>
          <button class="submit-button" @click="userUpdatePost()" v-if="updateButton">수정</button>
        </span>
      </form>
    </el-dialog>
  </div>
</template>

<script>
const axios = require('axios').default;
export default {
  name: 'Index',
  components: {
  },
  data() {
    return{
      selectOption: '',
      searchForm: '',
      joinVisible: false,
      AddButton:false,
      updateButton:false,
      userInfos: [],
      user_id:'',
      user_name:'',
      user_email:'',
      user_password:'',
      user_phone:'',
      user_role:'관리자',
      user_postcode:'',
      user_address:'',
      user_detailAddress:'',
      user_token:'',
      readonly:false,
    }
  },
  mounted() {
    axios.get('user/list_nopage')
        .then((res) => { 
            this.userInfos = res.data 
        })
        .catch(err => console.error(err))    
  },

  methods: {
    // 회원가입
    joinAdd() {
      this.updateButton = false
      this.joinVisible = true
      this.AddButton = true
      this.user_id = ''
      this.user_name = ''
      this.user_email = ''
      this.user_password = ''
      this.user_phone = ''
      this.user_postcode = ''
      this.user_address = ''
      this.user_detailAddress = ''
      this.user_role = '관리자'
      this.user_token=''
    },
    
    // 회원가입 전송
    joinSubmit() {
      let data = {
          user_id: this.user_id,
          user_name:this.user_name,
          user_email:this.user_email,
          user_password:this.user_password,
          user_phone:this.user_phone,
          user_postcode:this.user_postcode,
          user_address:this.user_address,
          user_detailAddress:this.user_detailAddress,
          user_role:this.user_role,
          user_token:this.user_token
      }
      axios
      .post('user/join',  JSON.stringify(data), {
        headers: {
          "Content-Type": `application/json`,
        },
      })
      this.$message({
          type: 'success',
          message: '회원을 추가하였습니다.'
        });
        window.setInterval('location.reload()', 500);
    },

    // 회원삭제
    userDelete(userId) {
      let data = {
        user_id: userId,
      }
      this.$confirm('정말 회원을 삭제하시겠습니까?', '회원삭제', {
          confirmButtonText: '삭제',
          cancelButtonText: '취소',
          type: 'warning'
        }).then(() => {
          axios
          .post('user/delete',  JSON.stringify(data), {
            headers: {
              "Content-Type": `application/json`,
            },
          })
          this.$message({
            type: 'success',
            message: '회원을 삭제하였습니다.'
          });
          window.setInterval('location.reload()', 500);
        })
     },

    // 회원수정
    userUpdate(userId) {
      this.AddButton = false
      this.updateButton = true
      this.readonly = true
      let data = {
          user_id: userId,
          user_token:this.user_token,
        }
      this.joinVisible = true;
      axios.post('user/readid',  JSON.stringify(data), {
          headers: {
            "Content-Type": `application/json`,
          }})
        .then((res) => { 
            console.log(res)
            this.user_name = res.data[0].user_name;
            this.user_id = res.data[0].user_id;
            this.user_phone = res.data[0].user_phone;
            this.user_email = res.data[0].user_email;
            this.user_postcode = res.data[0].user_postcode;
            this.user_address = res.data[0].user_address;
            this.user_detailAddress = res.data[0].user_detailAddress;
        }) 
        .catch(err => console.error(err))    
    },

    userUpdatePost() {
      let data = {
          user_id: this.user_id,
          user_name:this.user_name,
          user_email:this.user_email,
          user_password:this.user_password,
          user_phone:this.user_phone,
          user_postcode:this.user_postcode,
          user_address:this.user_address,
          user_detailAddress:this.user_detailAddress,
          user_role:this.user_role,
      }
      axios
      .post('user/update',  JSON.stringify(data), {
        headers: {
          "Content-Type": `application/json`,
        },
      })
      this.$message({
          type: 'success',
          message: '회원정보를 수정하였습니다..'
        });
        window.setInterval('location.reload()', 500);
    },

    // 다음주소 API
    showApi() {
    new window.daum.Postcode({
        oncomplete: (data) => {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            let fullRoadAddr = data.roadAddress; // 도로명 주소 변수
            let extraRoadAddr = ''; // 도로명 조합형 주소 변수

            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                extraRoadAddr += data.bname;
            }
            // 건물명이 있고, 공동주택일 경우 추가한다.
            if(data.buildingName !== '' && data.apartment === 'Y'){
            extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
            }
            // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
            if(extraRoadAddr !== ''){
                extraRoadAddr = ' (' + extraRoadAddr + ')';
            }
            // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
            if(fullRoadAddr !== ''){
                fullRoadAddr += extraRoadAddr;
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            this.user_postcode = data.zonecode; //5자리 새우편번호 사용
            this.user_address = fullRoadAddr;
        }
    }).open({})
    }
  }
};
</script>
