<template>
  <div class="login-layout">
    <h1 class="logo"><img src="@/assets/images/logo.png"></h1>
    <div class="login-form__box">
      <p>LOGIN</p>
      <form class="login-form">
        <div class="form-input__box">
          <label>아이디</label>
          <input type="text" name="userId" id="userId" required v-model="user_id"/>
        </div>

        <div class="form-input__box">
          <label>비밀번호</label>
          <input type="password" name="userPassword" id="userPassword" required v-model="password"/>
        </div>
        <button type="button" @click="loginSubmit()">로그인</button> 

        <div class="login-form__option">
          <input type="checkbox"> <label>아이디,비번 저장</label>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
const axios = require('axios').default;
export default {
  name: 'login',
  components: {
    axios
},
data() {
    return {
      user_id: "",
      password: "",
      user_token: "",
    };
  },
  methods: {
    loginSubmit() {
      let data = {
            user_token: this.user_token,
            user_id: this.user_id,
            user_password: this.password
        }
        axios
        .post('user/login',  JSON.stringify(data), {
          headers: {
            "accept": 'application/json',
            "Content-Type": `application/json`,
          },
        })
        .then((res) => {
          if(res.data[0].token != ''){
            //console.log(res.data[0].token)
            this.$router.push({name:'index'})
          }else{
            alert('등록된 사용자 정보가 아닙니다.')
          }
        });
        console.log(data)
    },

    loginSubmit() {
      let data = {
          user_token: this.user_token,
          user_id: this.user_id,
          user_password: this.password
      }

      this.$store.dispatch('login', data)
    },
  }
};
</script>
