<template>
  <div id="app">
    <SideMenu v-if="$route.name != 'login'"/>
    <router-view/>
  </div>
</template>

<script>
import SideMenu from './components/SideMenu.vue'

import('@/assets/css/default.css');
import('@/assets/css/font.css');
export default {
  components: {
    SideMenu,
  },
};
</script>

<style>
</style>
