@charset "utf-8";

/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: 'S-CoreDream-3Light';
	vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration: none;
  color:#000;
}
a,button{
  cursor: pointer;
}
input,button{
  font-family: "Noto Sans KR";
}

/* 레이아웃 */
#app{
  display:flex;
}

/* 사이드 메뉴 */
.side-menu{
  position:relative;
  width:15%;
  height:100vh;
  z-index:1000;
}

.side-menu__top{
  display:flex;
  align-items: center;
  justify-content: center;
  height:190px;
  background:#16311d;
}

.side-menu__title{
  display:flex;
  align-items: center;
  height:90px;
  background:#1f582e;
  padding:0 40px;
}

.side-menu__title p{
  font-size: 20px;
  font-weight: bold;
  color:#fff;
}

.side-menu__item{
  padding:0 40px;
  height:50px;
  line-height:50px;
  border-bottom:1px solid #e3e3e3;
}

.side-menu__item.active{
  background:#f2f2f2;
}

.side-menu__item a{
  display:block;
  font-size: 15px;
  font-weight: 700;
  color:#17261b;
}

/* 컨텐츠 */
.contents{
  width:85%;
  padding:50px;
  background:#f5f5f5;
}

.menu-title__box{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background:#4a5e4f;
  height:90px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding:0 50px;
  margin-bottom:50px; 
}

.menu-title__box p{
  font-size: 25px;
  color:#fff;
}

/* 테이블 css */
.table-style01{
  width:100%;
}

.table-style01 tr{
  border-bottom:1px solid #e3e3e3;
}

.table-style01 th{
  font-family: "Noto Sans KR";
  background:#464646;
  color:#fff;
  padding:15px 0;
}

.table-style01 td{
  font-family: "Noto Sans KR";
  background:#fff;
  padding:10px 0;
  text-align: center;
  color:#464646;
}

.table-style01 td a{
  font-family: "Noto Sans KR";
}

/* 버튼 css  */
.edit-button,
.delete-button,
.add-button{
  padding:10px 20px;
  border:none;
  margin:0 5px;
  border-radius: 5px;
  font-size: 15px;
}

.edit-button{
  background:#3f8561;
  color:#fff;
}

.delete-button{
  background:#e55f5f;
  color:#fff;
}

.add-button{
  background:#3f4d58;
  color:#fff;
  margin-left:0;
}

/* 관리자 기능 박스 */
.admin-function__area{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:20px;
}

/* 검색창 폼 css */
.el-input-group__append,
.el-input-group__prepend{
  width:auto;
  max-width:100px;
}

.el-input--small
.el-input__inner{
  height:40px;
  line-height:40px;
}

/* 회원가입 dialog */

.table-style02{
  width:100%;
  border-collapse: unset;
  border-spacing: 10px;
  margin:20px 0;
}

.table-style02 th{
  width:30%;
  background:#f7f7f7;
  padding:15px 30px;
  border-top:1px solid #d2d2d2;
  text-align: left;
  font-size: 15px;
  color:#1d1d1d;
  vertical-align: middle;
}

.table-style02 th,
.table-style02 td{
  font-family: "Noto Sans KR"; 
}

.table-style02 .el-input{
  height:50px;
}

.table-style02 
.el-input--small .el-input__inner{
  height:100%;
  border-radius: 0;
}

.table-style02 select{
  min-width:150px;
  padding:0 10px;
  height:46px;
  border:1px solid #e3e3e3;
}

.dialog-footer{
  display:block;
  text-align: right;
}

.dialog-footer button{
  font-size: 15px;
  font-weight: bold;
  padding:7px 20px;
  border-radius: 5px;
}

.dialog-footer .cancel-button{
  background:#fff;
  color:#16311d;
  border:1px solid #16311d;
  margin-right:10px;
}

.dialog-footer .submit-button{
  background:#16311d;
  color:#fff;
  border:1px solid #16311d;
}


/* daum post api */
.daummap .el-input{
  margin-bottom:10px;
}

.daummap .el-input:last-child{
  margin-bottom:0;
}

.daumpost-api__box{
  display:flex;
  margin-bottom:10px;
}

.daumpost-api__box:last-child{
  margin-bottom:0;
}

.daumpost-api__box span{
  display:block;
  font-family: "Noto Sans KR";
  width:100%;
  height:50px;
  line-height:50px;
  border:1px solid #e3e3e3;
  color:#919191;
  padding:0 20px;
}

.daumpost-api__box .post-number{
  width:200px;
}

.daumpost-api__box button{
  background:#16311d;
  border:none;
  font-size: 15px;
  color:#fff;
  padding:0 10px;
}

/* 큐브관리 상세페이지 */
.use-controller__title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom:20px;
}

.use-controller__list{
  border-left: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
}

.use-controller__item{
  display:flex;
  align-items: center;
  width:100%;
  height:50px;
  line-height:50px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color:#4a5e4f;
  background:#fff;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.use-controller__item img{
  margin-right:10px;
}

.use-controller__item .el-switch{
  margin-left: 10px;
}

/* 큐브관리 컨트롤러 리스트 */
.controller__list{
  display:flex;
  flex-wrap: wrap;
}

.controller__list li{
  width:20%;
  margin:5px 0;
}

/* 큐브 센서 차트 */
.el-tabs__nav{
  display:flex;
  width:100%;
  height:60px;
  overflow:hidden;
}

.el-tabs__item{
  width:20%;
  height:60px;
  line-height:60px;
  text-align: center;
}

.el-tabs__item span{
  display:flex;
  justify-content: center;
  align-items: center;
}

.el-tabs__item img{
  margin-right:10px;
}

/* 로그인 페이지 */
/* 로그인 페이지 */
.login-layout{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;
  height:100vh;
  overflow:hidden;
  background:url('@/assets/images/login-bg.jpg')no-repeat center;
}

.login-layout .logo{
  margin-bottom:50px;
}

.login-form__box{
  width:560px;
  height:auto;
  background:#fff;
  border-radius: 10px;
  overflow:hidden;
  box-shadow: 1px 1px 15px rgb(0 0 0 / 30%);
}

.login-form__box p{
  font-family: "Noto Sans KR";
  font-size: 20px;
  background:#76a22d;
  color:#fff;
  text-align: center;
  padding:20px 0;
}

.login-form{
  padding:40px 60px;
}

.form-input__box{
  display:flex;
  align-items: center;
  border-bottom:1px solid #e3e3e3;
  padding:15px;
  margin-bottom:20px;
}

.form-input__box:nth-child(2){
  margin-bottom:40px;
}

.form-input__box label{
  font-family: "Noto Sans KR";
  width:20%;
  font-size: 16px;
  font-weight: 500;
}

.form-input__box input{
  font-family: "Noto Sans KR";
  width:80%;
  border:none;
  outline:none;
  font-size: 16px;
}

.login-form button{
  width:80%;
  display:block;
  margin:20px auto;
  font-family: "Noto Sans KR";
  font-size: 20px;
  color:#fff;
  background:#16311d;
  padding:15px 0;
  border-radius: 10px;
  border:none;
}

.login-form__option{
  display: flex;
  justify-content: center;
}

.login-form__option input{
  width:20px;
  height:20px;
  margin-right:10px;
}

.login-form__option label{
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: bold;
  padding-top:3px;
}

/* 지도 타입 */
.cube-map__list{
  display:flex;
  margin-top:20px;
}

.content-type label{
  font-weight: bold;
  margin-right:10px;
}

.content-type label:last-child{
  margin-right:0;
}

.maker-button{
  padding:15px 25px;
  background:#fff;
  margin-right:10px;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
  border:1px solid #1f582e;
  font-size: 15px;
  font-weight: bold;
}

.customoverlay{
  position:absolute;
  top:0;
  right:-80px;
  padding:10px 30px;
  background:#6d7480;
  border-radius: 100px;
  border:3px solid #fff;
  margin-top:20px;
}

.customoverlay span{
  font-size: 17px;
  font-weight: bold;
  color:#fff;
}

.list-type__content{
  display:flex;
  justify-content: space-between;
}

.left-content{
  width:70%;
}

.right-content{
  width:28%;
}

.cube-button{
  width:100px;
  padding:10px;
  background:#fff;
  border-radius: 5px;
  border:1px solid #1f582e;
  font-weight: bold;
}

.table-scroll{
  height:450px;
  background:#fff;
  overflow-y:auto;
}

/* 검색창 */
.search-form{
  display:flex;
  border:1px solid #e3e3e3;
  margin-bottom:10px;
}

.search-form .el-select{
  display:block;
  width:120px;
  border-right:1px solid #e3e3e3;
}

.search-form 
.el-input--small .el-input__inner{
  border:none;
  border-radius: 0;
}

.search-form__input{
  width:calc(100% - 120px);
  height:40px;
  border:none;
  padding:0 20px;
}

.search-form
.el-input--small .el-input__inner{
  font-size: 15px;
}

/* 큐브 상세페이지 수정 */
.link-button{
  background:#4a5e4f;
  color:#fff;
  bordeR:none;
  padding:10px 20px;
  border-radius: 5px;
}

.chart-content{
  margin-top:20px;
}

.number-select
.el-input--small .el-input__inner{
  height:32px;
  line-height:32px;
}

.submit-button{
  display:block;
  margin:10px 0 0 auto
}

.flex-container{
  display:flex;
}

.cube-sidemenu{
  width:300px;
  height:100vh;
  overflow-y:auto;
  background:#f5f5f5;
  border-right:1px solid #e3e3e3;
}

.cube-sidemenu::-webkit-scrollbar {
  width: 5px;
}

.cube-sidemenu::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
}
.cube-sidemenu::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.data-content{
  width:calc(85vw - 300px);
  padding:40px;
}

.el-menu {
  border-right: none
}

.el-menu-item img,.el-submenu__title img {
  width: 20px;
  margin-right: 20px
}

.el-menu-item,.el-submenu__title {
  display: flex;
  align-items: center;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #e3e3e3;
  padding: 0 25px!important
}

.el-menu-item-group__title {
  display: none
}

.el-submenu__title:focus,.el-submenu__title:hover {
  background-color: #76a22d;
  color: #fff
}

.el-submenu__title:before {
  display: inline-block;
  top: 15px;
  content: "";
  width: 25px;
  height: 25px;
  background: #000;
  margin-right: 20px
}

.el-submenu.is-opened .el-submenu__title {
  background-color: #76a22d;
  color: #fff
}

.tab-wrapper{
  position:relative;
}

.tab-wrapper:nth-child(1) .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico1.svg")no-repeat 50%
}

.tab-wrapper:nth-child(1) .is-opened .el-submenu__title:before,.tab-wrapper:nth-child(1):hover .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico1_active.svg")no-repeat 50%
}

.tab-wrapper:nth-child(2) .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico2.svg")no-repeat 50%
}

.tab-wrapper:nth-child(2) .is-opened .el-submenu__title:before,.tab-wrapper:nth-child(2):hover .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico2_active.svg")no-repeat 50%
}

.tab-wrapper:nth-child(3) .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico3.svg")no-repeat 50%
}

.tab-wrapper:nth-child(3) .is-opened .el-submenu__title:before,.tab-wrapper:nth-child(3):hover .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico3_active.svg")no-repeat 50%
}

.tab-wrapper:nth-child(4) .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico4.svg")no-repeat 50%
}

.tab-wrapper:nth-child(4) .is-opened .el-submenu__title:before,.tab-wrapper:nth-child(4):hover .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico4_active.svg")no-repeat 50%
}

.tab-wrapper:nth-child(5) .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico5.svg")no-repeat 50%
}

.tab-wrapper:nth-child(5) .is-opened .el-submenu__title:before,.tab-wrapper:nth-child(5):hover .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico5_active.svg")no-repeat 50%
}

.tab-wrapper:nth-child(6) .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico6.svg")no-repeat 50%
}

.tab-wrapper:nth-child(6) .is-opened .el-submenu__title:before,.tab-wrapper:nth-child(6):hover .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico6_active.svg")no-repeat 50%
}

.tab-wrapper:nth-child(7) .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico7.svg")no-repeat 50%
}

.tab-wrapper:nth-child(7) .is-opened .el-submenu__title:before,.tab-wrapper:nth-child(7):hover .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico7_active.svg")no-repeat 50%
}

.tab-wrapper:nth-child(8) .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico8.svg")no-repeat 50%
}

.tab-wrapper:nth-child(8) .is-opened .el-submenu__title:before,.tab-wrapper:nth-child(8):hover .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico8_active.svg")no-repeat 50%
}

.tab-wrapper:nth-child(9) .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico9.svg")no-repeat 50%
}

.tab-wrapper:nth-child(9) .is-opened .el-submenu__title:before,.tab-wrapper:nth-child(9):hover .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico9_active.svg")no-repeat 50%
}

.tab-wrapper:nth-child(10) .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico10.svg")no-repeat 50%
}

.tab-wrapper:nth-child(10) .is-opened .el-submenu__title:before,.tab-wrapper:nth-child(10):hover .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico10_active.svg")no-repeat 50%
}

.tab-wrapper:nth-child(11) .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico11.svg")no-repeat 50%
}

.tab-wrapper:nth-child(11) .is-opened .el-submenu__title:before,.tab-wrapper:nth-child(11):hover .el-submenu__title:before {
  background: url("~@/assets/svg/function-ico11_active.svg")no-repeat 50%
}

.el-submenu .el-menu-item {
  background: #f2f2f2
}

.el-submenu .el-menu-item:before {
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  background: #b1b1b1;
  border-radius: 100px;
  margin: 0 30px 0 10px
}

.el-submenu.is-active .el-submenu__title {
  border-color: #e3e3e3
}

.el-menu-item.is-active {
  color: #303133
}

.cube-sidemenu .el-switch {
  position: absolute;
  top: 18px;
  right: 40px;
  z-index: 1000
}

.cube-sidemenu .el-switch.is-checked .el-switch__core {
  background-color: #1e562e;
  border-color: #1e562e
}

.menu-close__button {
  position: fixed;
  top: 100px;
  left: 15%;
  background: #17261b;
  width: 35px;
  height: 90px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: .4s;
  z-index: 100;
  border: none
}

.menu-close__button i {
  font-size: 20px;
  color: #fff
}

.tab-menu__title {
  display: flex;
  align-items: center;
  background: #17261b;
  height: 55px;
  color: hsla(0,0%,100%,.5);
  padding: 0 25px
}

/* 옵션 타이머 설정 */
.control-add__button{
  float:right;
  margin-bottom:10px;
}
.option-timer__table{
  width:100%;
  border:1px solid #e3e3e3;
}

.option-timer__table tr{
  border-bottom:1px solid #e3e3e3;
}

.option-timer__table th{
  padding:10px 0;
  background:#f5f5f5;
}

.option-timer__table td{
  padding:5px 0;
  text-align: center;
}

.option-timer__table .el-date-editor{
  margin:0 5px;
}

.setting-button{
  border:none;
  background:none;
}

.setting-button i{
  color:#000;
}