<template>
  <div id="layout">
    <div class="side-menu" :class="{active: isActive}">
      <Sidemenu />
    </div>
    <div class="contents" :class="{active: isActive}">
      <div id="map"></div>
      <div class="data-menu" :class="{active: dataClose}" v-if="isActive">
        <slick
          :options="slickOptions">
          <div class="slide-content">
            <div class="data-menu__top">
              <span>온도</span>
            </div>
            <div class="date-menu__value">
              <span>0℃</span>
              <img src="@/assets/svg/data-ico_ov1.svg">
              <el-progress :percentage="percentage" :color="customColors"></el-progress>
            </div>
          </div>
          <div class="slide-content">
            <div class="data-menu__top">
              <span>습도</span>
            </div>
            <div class="date-menu__value">
              <span>0%</span>
              <img src="@/assets/svg/data-ico_ov2.svg">
              <el-progress :percentage="percentage" :color="customColors"></el-progress>
            </div>
          </div>
          <div class="slide-content">
            <div class="data-menu__top">
              <span>이산화탄소</span>
            </div>
            <div class="date-menu__value">
              <span>0%</span>
              <img src="@/assets/svg/data-ico_ov3.svg">
              <el-progress :percentage="percentage" :color="customColors"></el-progress>
            </div>
          </div>
          <div class="slide-content">
            <div class="data-menu__top">
              <span>조도</span>
            </div>
            <div class="date-menu__value">
              <span>0℃</span>
              <img src="@/assets/svg/data-ico_ov4.svg">
              <el-progress :percentage="percentage" :color="customColors"></el-progress>
            </div>
          </div>
          <div class="slide-content">
            <div class="data-menu__top">
              <span>PH농도</span>
            </div>
            <div class="date-menu__value">
              <span>0</span>
              <img src="@/assets/svg/data-ico_ov5.svg">
              <el-progress :percentage="percentage" :color="customColors"></el-progress>
            </div>
          </div>
          <div class="slide-content">
            <div class="data-menu__top">
              <span>전해질</span>
            </div>
            <div class="date-menu__value">
              <span>0</span>
              <img src="@/assets/svg/data-ico_ov6.svg">
              <el-progress :percentage="percentage" :color="customColors"></el-progress>
            </div>
          </div>
        </slick>
        <button class="data-menu__button" 
          :class="{active: dataClose}"
          @click="dataClose = !dataClose">
            <span>데이터</span>
            <i class="el-icon-arrow-down"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Sidemenu from './Sidemenu.vue';
import Slick from 'vue-slick';
import 'slick-carousel/slick/slick.css';
export default {
  name: 'index',
  components: {
    Sidemenu,
    Slick
  },
  data() {
    return {
      map:null,
      isActive: false,
      dataClose: false,
      slickOptions: {
          slidesToShow: 5,
          infinite: false,
          // Any other options that can be got from plugin documentation
      },
      percentage: 0,
      customColor: '#409eff',
      customColors: [
        {color: '#f56c6c', percentage: 20},
        {color: '#e6a23c', percentage: 40},
        {color: '#5cb87a', percentage: 60},
        {color: '#1989fa', percentage: 80},
        {color: '#6f7ad3', percentage: 100}
      ]
    }
  },
  mounted() {
    if (window.kakao && window.kakao.maps) {
      // 카카오 객체가 있고, 카카오 맵그릴 준비가 되어 있다면 맵 실행
      this.loadMap();
    } else {
      // 없다면 카카오 스크립트 추가 후 맵 실행
      this.loadScript();
    }
  },
  methods: {
    loadScript() {
      const script = document.createElement("script");
      script.onload = () => window.kakao.maps.load(this.loadMap); // 스크립트 로드가 끝나면 지도를 실행될 준비가 되어 있다면 지도가 실행되도록 구현

      document.head.appendChild(script); // html>head 안에 스크립트 소스를 추가
    },
    loadMap() {
      const container = document.getElementById("map"); // 지도를 담을 DOM 영역
      const options = {
        // 지도를 생성할 때 필요한 기본 옵션
        center: new window.kakao.maps.LatLng(35.01973103273638, 127.94818663938068), // 지도의 중심좌표
        level: 3, // 지도의 레벨(확대, 축소 정도)
      };

      this.map = new window.kakao.maps.Map(container, options); // 지도 생성 및 객체 리턴
      this.loadMaker();
    },
    loadMaker() {
      // 마커가 표시 위치
      const markerPosition = new window.kakao.maps.LatLng(35.01973103273638, 127.94818663938068)

      // 마커 생성
      const marker = new window.kakao.maps.Marker({
        position: markerPosition
      })

      // 마커가 지도 위에 표시되도록 설정
      marker.setMap(this.map)
    }
  },
  created() {
    this.$EventBus.$on('menu-outspread', () => {
        this.isActive = !this.isActive;
    });
    this.$EventBus.$on('active-data', () => {
        this.isActive = true;
    });
  },
};
</script>
