<template>
  <div class="login-layout">
    <h1 class="logo"><img src="@/assets/images/logo.png"></h1>
    <div class="login-form__box">
      <p>LOGIN</p>
      <form class="login-form">
        <div class="form-input__box">
          <label>아이디</label>
          <input type="text" />
        </div>

        <div class="form-input__box">
          <label>비밀번호</label>
          <input type="text" />
        </div>
        <button @click="routerPush()">로그인</button>

        <div class="login-form__option">
          <input type="checkbox"> <label>아이디,비번 저장</label>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'login',
  components: {
},
data() {
    return {
    
    }
},
methods: {
  routerPush() {
    this.$router.push({name: 'index'});
  }
}
};
</script>
