<template>
  <div id="layout">
    <div class="side-menu">
      <Sidemenu2 />
    </div>
    <div class="contents mypage">
      <div class="mypage-head">
        <p>마이페이지</p>
        <button><i class="el-icon-lock"></i>로그아웃</button>
      </div>
      <div class="myapge-content">
        <p>회원정보 상세 정보</p>
        <table class="mypage__table">
          <tbody>
            <tr>
              <th>아이디</th>
              <td><el-input placeholder="admin" v-model="input" readonly /></td>
            </tr>
            <tr>
              <th>비밀번호</th>
              <td><el-input placeholder="기존 비밀번호를 입력해주세요." v-model="input" show-password /></td>
            </tr>
            <tr>
              <th>비밀번호 변경</th>
              <td><el-input placeholder="변경하실 비밀번호를 입력해주세요" v-model="input" show-password /></td>
            </tr>
            <tr>
              <th>휴대전화</th>
              <td><el-input placeholder="010-1234-5678" v-model="input" /></td>
            </tr>
            <tr>
              <th>이메일</th>
              <td><el-input placeholder="admin@help.com" v-model="input"  /></td>
            </tr>
            <tr>
              <th>주소</th>
              <td>
                <DaumPost />
              </td>
            </tr>
          </tbody>
        </table>
        <button class="mypage-edit__button">수정</button>
      </div>
    </div>
  </div>
</template>

<script>
import Sidemenu2 from './Sidemenu2.vue';
import DaumPost from './component/DaumPost.vue'
export default {
  name: 'mypage',
  components: {
    Sidemenu2,
    DaumPost
},
data() {
    return {
    
    }
},
methods: {
  routerPush() {
    this.$router.push({name: 'index'});
  }
}
};
</script>
