<template>
  <div>
    <div class="side-menu__top">
      <h1><router-link :to="{name: 'index'}"><img src="@/assets/svg/logo.svg"></router-link></h1>
    </div>
    <div class="side-menu__title">
      <p>마이페이지</p>
    </div>
    <el-tabs 
      type="border-card"
      class="extend-sidemenu"
      v-model="test"
      >
      <el-tab-pane class="is-active">
        <span slot="label" class="side-menu__name">회원정보</span>
      </el-tab-pane>
    </el-tabs>

    <!-- 푸터 메뉴 -->
    <ul class="footer-menu__list">
      <li>
        <router-link :to="{name: 'mypage'}">마이페이지</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Sidemenu2',
  data() {
    return {      
    }
  }
};
</script>


<style>
</style>
