<template>
  <div>
    <div class="side-menu__top">
      <h1><img src="@/assets/svg/logo.svg"></h1>
    </div>
    <div class="side-menu__title">
      <p>나의 큐브</p>
    </div>
    <el-tabs 
      type="border-card"
      class="extend-sidemenu"
      :class="{active: isActive}"
      >
      <el-tab-pane>
        <span slot="label" class="side-menu__name" @click="$EventBus.$emit('active-data')">큐브1 </span>
        <el-menu class="extent-sidemenu__list el-menu-vertical-demo">
          <p class="tab-menu__title">제어</p>
          <div class="tab-wrapper">
            <el-switch v-model="cube_led" /> 
            <el-submenu index="1">
              <template slot="title">
                <span>LED</span>
              </template>  
              <el-menu-item-group>
                <el-menu-item index="1-1" @click="detailControlVisible=true">LED 1 <el-switch v-model="cube_led" /> </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </div>
          <div class="tab-wrapper">
            <el-switch v-model="cube_indoorUnit" /> 
            <el-submenu index="2">
              <template slot="title">
                <span>실내기</span>
              </template>  
              <el-menu-item-group>
                <el-menu-item index="2-1">실내기 1 <el-switch v-model="cube_indoorUnit" /> </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </div>
          <div class="tab-wrapper">
            <el-switch v-model="cube_defrostHeater" /> 
            <el-submenu index="3">
              <template slot="title">
                <span>제상히터</span>
              </template>  
              <el-menu-item-group>
                <el-menu-item index="2-1">제상히터 1 <el-switch v-model="cube_defrostHeater" /> </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </div>
          <div class="tab-wrapper">
            <el-switch v-model="cube_hotairfan" /> 
            <el-submenu index="4">
              <template slot="title">
                <span>온풍기</span>
              </template>  
              <el-menu-item-group>
                <el-menu-item index="4-1">온풍기 1 <el-switch v-model="cube_hotairfan" /> </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </div>
          <div class="tab-wrapper">
            <el-switch v-model="cube_coolairfan" /> 
            <el-submenu index="5">
              <template slot="title">
                <span>냉풍기</span>
              </template>  
              <el-menu-item-group>
                <el-menu-item index="5-1">냉풍기 1 <el-switch v-model="cube_coolairfan" /> </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </div>
          <div class="tab-wrapper">
            <el-switch v-model="cube_gas" /> 
            <el-submenu index="6">
              <template slot="title">
                <span>가스제어</span>
              </template>  
              <el-menu-item-group>
                <el-menu-item index="6-1">가스제어 1 <el-switch v-model="cube_gas" /> </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </div>
          <div class="tab-wrapper">
            <el-switch v-model="cube_ventilationFan" /> 
            <el-submenu index="7">
              <template slot="title">
                <span>환기팬</span>
              </template>  
              <el-menu-item-group>
                <el-menu-item index="7-1">환기팬 1 <el-switch v-model="cube_ventilationFan" /> </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </div>
          <div class="tab-wrapper">
            <el-switch v-model="cube_cycleFan" /> 
            <el-submenu index="8">
              <template slot="title">
                <span>순환판</span>
              </template>  
              <el-menu-item-group>
                <el-menu-item index="8-1">순환판 1 <el-switch v-model="cube_cycleFan" /> </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </div>
          <div class="tab-wrapper">
            <el-switch v-model="cube_pump" /> 
            <el-submenu index="9">
              <template slot="title">
                <span>펌프</span>
              </template>  
              <el-menu-item-group>
                <el-menu-item index="9-1">펌프 1 <el-switch v-model="cube_pump" /> </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </div>
          <div class="tab-wrapper">
            <el-switch v-model="cube_aircond" /> 
            <el-submenu index="10">
              <template slot="title">
                <span>에어컨</span>
              </template>  
              <el-menu-item-group>
                <el-menu-item index="10-1">펌프 1 <el-switch v-model="cube_aircond" /> </el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </div>
        </el-menu>
      </el-tab-pane>

      <el-tab-pane>
        <span slot="label" class="side-menu__name" @click="$EventBus.$emit('active-data')">큐브2</span>
        큐브2
      </el-tab-pane>

      <el-tab-pane>
        <span slot="label" class="side-menu__name" @click="$EventBus.$emit('active-data')">큐브3</span>
        큐브3
      </el-tab-pane>
    </el-tabs>
    <button class="menu-close__button"
      @click="$EventBus.$emit('menu-outspread')"
      :class="{active: isActive}">
      <i class="el-icon-caret-right"></i>
    </button>

    <!-- 세부제어 dialog-->
    <el-dialog
      title="타이머 설정"
      :visible.sync="detailControlVisible"
      width="30%"
      >
      <el-button 
        type="primary"
        class="control-add__button"
        @click="timerAddVisible = true"
        >
        추가
      </el-button>
      <table class="option-timer__table">
        <thead>
          <tr>
            <th>시작시간</th>
            <th>상태</th>
            <th>관리</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>09:00</td>
            <td>ON</td>
            <td><el-button type="danger">삭제</el-button></td>
          </tr>
          <tr>
            <td>09:00</td>
            <td>OFF</td>
            <td><el-button type="danger">삭제</el-button></td>
          </tr>
        </tbody>
      </table>
      <!-- 세부제어 추가 dialog-->
      <el-dialog
        title="타이머 추가"
        :visible.sync="timerAddVisible"
        width="30%"
        >
        <table class="option-timer__table">
          <thead>
            <tr>
              <th>시간설정</th>
              <th>상태</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <el-time-select
                  placeholder="시작 시간"
                  v-model="startTime"
                  :picker-options="{
                    start: '00:00',
                    step: '00:30',
                    end: '24:00'
                  }">
                </el-time-select>
                </td>
                <td>
                  <el-select v-model="timeValue" placeholder="선택해주세요.">
                    <el-option value="ON" />
                    <el-option value="OFF" />
                  </el-select>
                </td>
            </tr>
          </tbody>
        </table>
        <span slot="footer" class="dialog-footer">
          <el-button @click="timerAddVisible = false">취소</el-button>
          <el-button type="primary" @click="timerAddVisible = false">추가</el-button>
        </span>
      </el-dialog>
    </el-dialog>

    <!-- 푸터 메뉴 -->
    <ul class="footer-menu__list">
      <li>
        <router-link :to="{name: 'mypage'}"><i class="el-icon-lock"></i>마이페이지</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Sidemenu',
  data() {
    return {
      tabActive: false,
      cube_led: true,
      cube_indoorUnit: true,
      cube_defrostHeater: true,
      cube_hotairfan: true,
      cube_coolairfan: true,
      cube_gas: true,
      cube_ventilationFan: true,
      cube_cycleFan: true,
      cube_pump: true,
      cube_aircond: true,
      isActive: false,
      detailControlVisible: false,
      timerAddVisible: false,
      startTime: '',
      timeValue: '',
    }
  }
};
</script>


<style>
</style>
